#if($type)${type}#end
#if($platform || $taskId) (#end
#if($platform)${platform}#end
#if($platform && $taskId)) #end
#if($taskId)${taskId}#end
#if($platform || $taskId))#end
#if($business) [${business}]#end
#if($body) ${body}#end"